/target/
bin/
.settings/
.project
.classpath
wave.png
HueStew.jar
HueStewBugs.jar
libs/huelocalsdk.jar
libs/huesdkresources.jar
libs/tablelayout.jar
*.mp4
src/main/java/com/huestew/studio/command/changeColorCommand.java
