/target/
bin/
.settings/
.project
.classpath
wave.png
HueStew.jar
plugins/HueStewHuePlugin/libs/huelocalsdk.jar
plugins/HueStewHuePlugin/libs/huesdkresources.jar
plugins/HueStewHuePlugin/libs/tablelayout.jar
libs/huelocalsdk.jar
libs/huesdkresources.jar
libs/tablelayout.jar
HueStewBugs.jar
